.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .header {
    padding: 1rem;
    background-color: #71a5de;
    border-bottom: 1px solid #e1ecf7;
    color: #e1ecf7;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);

  }
  
  .content {
    flex-grow: 3;
    width: 90%;
    margin: 0 auto;
    padding: 0 2rem;
    justify-content: space-evenly;
  }
  
  .question-bank {
    margin-top: 1rem;
    justify-content: space-evenly;

  }
  
  .quiz-grid {
    display: grid;
    grid-template-columns: 20rem 20rem 20rem 20rem;
    gap: 2rem;
    margin: auto;
  }